body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  font-family: 'Open Sans', sans-serif;
  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(131,64,64,1) 69%, rgba(0,212,255,1) 100%);
  font-size: 120%;
  -webkit-transition: background-color 2s ease-in-out;
  -moz-transition: background-color 2s ease-in-out;
  -o-transition: background-color 2s ease-in-out;
  transition: background-color 2s ease-in-out;
}
.card{
    text-align: center;
    background-color:  rgba(92,124,125,0.3);
    color: white;
    padding: 30px;
    width: 100%;
    max-width: 500px;
    border-radius: 30px;
    margin: 10px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.search-bar{
    margin-right: 5px;
    width: 300px;
    height: 20px;
    border-radius: 18px;
    background-color: rgba(124,124,124,0.3);
    color: white;
    font-size: 20px;
    font-family: inherit;
    outline: none;
    padding: 10px;
}
button{
    border-radius: 50%;
    height:40px;
    width: 40px;
    background-color: rgba(124,124,124,0.3);
    cursor: pointer;
}
button:hover{
    background:white ;
    transition: 0.6s;
}
.flex {
    text-align: center;
}


